.color1{ background: hsl(198, 81%, 54%); }
.color2{ background: hsl(231, 81%, 54%); }
.color3{ background: hsl(267, 81%, 54%); }
.color4{ background: hsl(360, 83%, 48%); }
.color5{ background: hsl(128, 74%, 46%); }
.color6{ background: hsl(56, 67%, 51%); }
.color7{ background: hsl(303, 71%, 50%); }
.color8{ background: hsl(34, 100%, 51%); }
.color9{ background: hsl(165, 100%, 50%); }
